body {
    margin: 0;
    padding: 0;
    height: 100vh;
    font-family: Open sans, sans-serif;
}

.hero-image { 
    background-image: linear-gradient(
    rgba(0, 0, 0, 0.3),
    rgba(0, 0, 0, 0.3)), 
    url("bilder/Main\ img1.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    display: flex;
    justify-content: center;  
    align-items: center;
}

.hero-text1{
    border-color: gray;
    border-style: solid;
    border-width: 0vw 0.1vw 0.1vw 0.1vw;
    padding-left: 2vw;
    padding-right: 2vw;
    padding-bottom: 1vw;

    position: absolute;
    top: 45vh;
    left: 2vw;
    color: whitesmoke;
    font-weight: 700;
    font-size: 1.5vw;
}

.hero-text2{
    position: absolute;
    top: 1vh;
    left: 2vw;
    color: whitesmoke;
    font-weight: bold;
    font-size: 3vw;
}

.hero-text3{
    position: absolute;
    top: 80vh;
    right: 4vw;
    color: whitesmoke;
    font-weight: bold;
    font-size: 1vw;

}

.tekst {
    font-family:Times New Roman, Times, serif;
    color: black;
    font-weight: normal; 
    font-size: 25px;
    line-height: 1.6;
}

.storbokstav {
    float: left;
font-size: 200px;
font-weight: bold;
font-family: Arial, Helvetica, sans-serif;
line-height: 10rem;
}


    .sidebartittel {
        text-align: right;
        font-family: Tahoma, sans-serif;
        color: #2e2f36;
        font-weight: normal; 
        font-size: 30px;
        margin-right: 10em;
    }


.sidebar {
    font-family: Arial, Helvetica, sans-serif;
    color: coral;
    font-weight: bold; 
font-size: 18px;
width: 600px;
margin-left: -7em;
margin-top: 3em;
line-height: 1.6;
}

.grå {
    color: grey; }

.tittel2 {
    font-family: Tahoma, sans-serif; 
    color: #2e2f36;
    font-weight: bold; }

.rosa {
    color: #ec446b; }

.tittel2undertekst {
    font-family: Arial, Helvetica, sans-serif;
    color: grey;
    font-weight: bold; }

.sidebartittel2 {
    font-family: Tahoma, sans-serif;
    color: #ec446b;
    font-weight: normal; }
.sidebar2 {
    font-family: Arial, Helvetica, sans-serif;
    color: #2e2f36;
    font-weight: bold; 
}

    .grid-3-columns {
        display: grid;
        grid-template-columns: 35% 35% 35%;
        font-size: 2em;
        padding: 20px;
    }