.main-bilde{
    position: relative;
}

.main-bilde img{
    max-width: 100%;
    height: auto;
}

.main-text1{
    position: absolute;
    top: 45%;
    color: #fff;
    font-family: Tahoma, sans-serif;
}

.main-text2{
    position: absolute;
    top: 5%;
    color: #fff;
    font-family: Tahoma, sans-serif;
}

.main-text3{
    position: absolute;
    top: 90%;
    color: #fff;
    font-family: Tahoma, sans-serif;
}


.tekst {
    font-family:Times New Roman, Times, serif;
    color: black;
    font-weight: normal; }

    .sidebartittel {
        font-family: Tahoma, sans-serif;
        color: #2e2f36;
        font-weight: normal; }

.sidebar {
    font-family: Arial, Helvetica, sans-serif;
    color: coral;
    font-weight: bold; }

.grå {
    color: grey; }

.tittel2 {
    font-family: Tahoma, sans-serif; 
    color: #2e2f36;
    font-weight: bold; }

.rosa {
    color: #ec446b; }

.tittel2undertekst {
    font-family: Arial, Helvetica, sans-serif;
    color: grey;
    font-weight: bold; }

.sidebartittel2 {
    font-family: Tahoma, sans-serif;
    color: #ec446b;
    font-weight: normal; }
.sidebar2 {
    font-family: Arial, Helvetica, sans-serif;
    color: #2e2f36;
    font-weight: bold; }